<div class="content">
    <form [formGroup]="testForm">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
           <input matInput placeholder="Name" type="text" formControlName="name">
       </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
        <input matInput placeholder="Lastname" type="text" formControlName="lastName">
    </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
        <input matInput placeholder="Date of birth" type="text" formControlName="dateOfBirth">
    </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
        <input matInput placeholder="Sex" type="text" formControlName='sex'>
    </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
        <input matInput placeholder="Plan" type="text" formControlName="plan">
    </mat-form-field>
            </div>
        </div> 
    </form>
</div>